As the number of Arabic speakers doing business worldwide, traveling, migrating, and utilizing the Internet has expanded in recent years, there is a significant need for Arabic translation. According to Internet World Stats, there are around 242 million Arabic-speaking Internet users.

So, tried to build a simple, effective translator